acceptance : AllIn
geometry : LHCb
energy : 14
paramsDecaying : M, P, PT, eta, IP, phi
paramsStable : M, P, PT, eta, IP, phi
param : Jpsi_M M 5 6
param : Jpsi_M_TRUE M 5 6
param : Jpsi_P P 5 6
param : Jpsi_P_TRUE P 5 6
param : Jpsi_PT PT 5 6 
param : Jpsi_PT_TRUE PT 5 6
param : Jpsi_eta eta 5 6
param : Jpsi_eta_TRUE eta 5 6
param : Jpsi_IP IP 5 6
param : Jpsi_IP_TRUE IP 5 6
param : Jpsi_phi phi 5 6
param : Jpsi_phi_TRUE phi 5 6
@0
	name : Dst
	evtGenModel : VSS
@1
	name : D0
	evtGenModel : PHSP
@2
	name : spip
	smear : spip
@3
	name : Km
	smear : Km
@4
	name : pip
	smear : pip
@5
	name : lm
	smear : pip
	altMass : e-
@6
	name : lp
	smear : lp
@7
	name : nu
	smear : LHCbGeneric
	invisible : true